In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from category_encoders import OrdinalEncoder
from sklearn.svm import SVC
from sklearn.ensemble import BaggingClassifier
from sklearn.datasets import make_classification
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,f1_score,roc_auc_score

In [2]:
one_hot_encoder=OneHotEncoder()
ordinal_encoder=OrdinalEncoder()
label_encoder=LabelEncoder()

In [3]:
data=pd.read_csv("C:/Users/Yuthayakarthick/Documents/Amal_Docs_Codes/Data_sets/emoji-full-codes-csv-printout - Copy.csv")
data

    emojis hex value  decimal discription     class
0        üòÑ     1f604   128516       smile  positive
1        üòÜ     1f606   128518    laughing  positive
2        üòä     1f60a   128522       blush  positive
3        üòÉ     1f603   128515      smiley  positive
4        ‚ò∫      263a     9786     relaxed  positive
..     ...       ...      ...         ...       ...
176      üåÄ     1f300   127744     cyclone    nutral
177      üåÅ     1f301   127745       foggy    nutral
178      üåä     1f30a   127754       ocean    nutral
179      üê±     1f431   128049         cat    nutral
180      üê∂     1f436   128054         dog    nutral

[181 rows x 5 columns]

In [4]:

data = data[:181]
data=data.drop(['emojis','discription','hex value'],axis=1)

In [5]:
data.head(5)

   decimal     class
0   128516  positive
1   128518  positive
2   128522  positive
3   128515  positive
4     9786  positive

In [22]:
dis=data['class'].value_counts()
print(dis,"\nTotal is",len(dis))

1    65
2    62
0    54
Name: class, dtype: int64
Total is 3

In [7]:
data['class']=label_encoder.fit_transform(data['class'])

In [8]:
data

     decimal  class
0     128516      2
1     128518      2
2     128522      2
3     128515      2
4       9786      2
..       ...    ...
176   127744      1
177   127745      1
178   127754      1
179   128049      1
180   128054      1

[181 rows x 2 columns]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   decimal  181 non-null    int64
 1   class    181 non-null    int32
dtypes: int32(1), int64(1)
memory usage: 2.2 KB

In [10]:
x=data.drop(['class'],axis=1)
y=data['class']

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [12]:
print(x_train)

     decimal
34    128542
29    128530
151   128122
73    127775
127   128102
..       ...
177   127745
138   128110
75    128165
143   128571
166   128100

[135 rows x 1 columns]

In [13]:
print(y_train)

34     0
29     0
151    0
73     2
127    1
      ..
177    1
138    1
75     2
143    2
166    1
Name: class, Length: 135, dtype: int32

In [14]:
model=RandomForestClassifier()
model.fit(x_train,y_train)

RandomForestClassifier()

In [15]:
model.classes_

array([0, 1, 2])

In [30]:
x_test
a = np.array([128072,128106])
a = a.reshape(-1,1)

In [31]:
pred=model.predict(x_test)
pred1 = model.predict(a)

In [32]:
pred1

array([1, 1])

In [40]:
print("accuracy:",accuracy_score(pred,y_test)*100)

accuracy: 73.91304347826086

In [42]:
# %pip install xgboost
import xgboost

In [ ]:
data['class']=data['class'].un